* {
    box-sizing: border-box;
    margin: 0;
}
.start-display-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.start-button {
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    border: 1px solid #fff;
    background-color: rgb(30, 55, 83);
    padding: auto;
}
.main-container {
    height: 100vh;
    background-color: rgba(1, 1, 22, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.memory-game-heading {
    font-size: 5em;
    color: #fff;
    margin-bottom: 10px;
}
.counter-attempts-display {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.counter {
    color: #fff;
    font-size: 2.5em;
}
button {
    background: transparent;
    border: 1px solid #fff;
    padding: 6px 12px;
    border: 6px;
    cursor: pointer;
    font-size: 1em;
    height: 40px;
    background: transparent;
    color: #fff;
    border-radius: 5px;
}
.reset {
    background: transparent;
    outline: none;
    cursor: pointer;
}
.reset-image {
    width: 35px;
    height: 40px;
    margin-bottom: 16px;
}
.card-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.winning-card {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
}
.you-win {
    font-size: 3em;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
}
.win-text {
    font-size: 2em;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
}
.memory-game-heading-style {
    color: rgba(255, 255, 255, 0.856);
}
.counter-style {
    color: rgba(255, 255, 255, 0.856);
}
@media screen and (min-width: 768px) {
    .main-container {
        height: 100vh;
        padding: 2em 4em 4em 4em;
        justify-content: center;
    }
    .memory-game-heading {
        font-size: 3.5em;
        margin-top: 2em;
    }
    .counter-moves-display {
        width: 80%;
    }
    .counter {
        font-size: 2.5em;
    }
    .card-grid {
        margin-top: 2em;
        grid-template-columns:150px 150px 150px 150px;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 1023px) {
    .main-container {
        min-height: 100vh;
        padding: 0 4em 4em 4em;
    }
    .memory-game-heading {
        font-size: 3em;
        margin-bottom: 16px;
        margin-top: 30px;
    }
    .counter-moves-display {
        width: 30%;
    }
    .counter {
        font-size: 2em;
    }
    .card-grid {
        width: 60%;
        margin-top: 1em;
        grid-template-columns:  1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}